<div>
    <h1>Hello {{currentUser}}!</h1>
    <div class="row mb-3">
        <div class="col-3">
            <a class="btn btn-outline-warning" href="#/create">Create Event</a>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-outline-danger" data-ng-click="logOut()">Log out</button>
        </div>
    </div>
    <h2>Here are all the events!</h2>

    <div class="card mb-3" data-ng-repeat="event in events">
        <img src="{{event.imageUrl}}" class="card-img-top" alt="{{event.name}} photo">
        <div class="card-body">
          <h5 class="card-title">{{event.name}}</h5>
          <p class="card-text">{{event.description}}</p>
          <p class="card-text">
              <small class="text-muted">Location: {{event.location}}</small> |
              <small class="text-muted">When: {{event.date}}</small>
          </p>
          <a href="#/details/{{event._id}}" class="btn btn-outline-primary">See more</a>
        </div>
    </div>
</div>