<div>
    <h1>{{event.name}}</h1>
    <img src="{{event.imageUrl}}" alt="{{event.name}} photo"/>
    <h5>Date: {{event.date}} | Price: ${{event.price}} | Location: {{event.location}} | Invite-Status: {{event.private ? "Invite-only" : "Public" }} | Age range: {{event.adult ? "All Ages" : "18+"}}</h5>
    <p>{{event.description}}</p>

    <div data-ng-if="isEditable">
        <a href="#/edit/{{event._id}}" class="btn btn-warning mb-3">Edit</a>
        <button type="button" class="btn btn-danger mb-3" data-ng-click="delete(event._id)">Delete</button>
    </div>
    <a href="#/events" class="btn btn-secondary mb-3">Back</a>
</div>