<div>
<form>
    <div class="row">
        <div class="col-12">
            <input type="text" class="form-control" required data-ng-model="event.name" placeholder="Name (required)"/>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <input type="text" class="form-control" required data-ng-model="event.location" placeholder="Location (required)"/>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <input type="text" class="form-control" required data-ng-model="event.date" placeholder="Date time (required)"/>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <input type="text" class="form-control" required data-ng-model="event.imageUrl" placeholder="Image url (required)"/>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <textarea class="form-control" required data-ng-model="event.description" placeholder="Event description... (required)" rows=10 cols=20></textarea>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-4">
            <input type="number" required data-ng-model="event.price" placeholder="Price (required)" class="form-control"/>
        </div>
        <div class="col-3">
            <input type="checkbox" class="form-check" data-ng-model="event.private" id="private"/> <label for="private">Private</label>                
        </div>
        <div class="col-3">
            <input type="checkbox" class="form-check" data-ng-model="event.adult" id="adult"/> <label for="adult">Adult (18+)</label>
        </div>
    </div>
    <div class="row mt-3 mb-3">
        <div class="col-3">
            <button type="button" class="btn btn-success" data-ng-click="save()">Save</button>
        </div>
        <div class="col-3">
            <a href="#/events" class="btn btn-warning">Cancel</a>
        </div>
    </div>
</form>
</div>