<div>
    <h2>Log in</h2>
    <div>
    <form>
        <div class="row mt-3">
            <div class="col-6">
                <input type="email" class="form-control" data-ng-model="user.email" required placeholder="Email (required)"/>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                <input type="password" class="form-control" data-ng-model="user.password" required placeholder="Password (required)"/>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-2">
                <button type="button" data-ng-click="login()" class="btn btn-primary">Log in</button>
            </div>
            <div class="col-5">
                <a href="#/register" class="btn btn-secondary">I Don't have an account</a>
            </div>
            
        </div>
    </form>
    </div>
    
</div>