<div>
    <h2>Sign up!</h2>
    <form>
    <div class="row mt-3">
        <div class="col-6">
            <input type="text" class="form-control" required data-ng-model="user.name" placeholder="Name (required)"/>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-3">
            <input type="number" class="form-control" required data-ng-model="user.age" placeholder="Age"/>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6">
            <input type="email" class="form-control" required data-ng-model="user.email" placeholder="Email (required)"/>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6">
            <input type="password" class="form-control" required data-ng-model="user.password" placeholder="Password (required)"/>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-2">
            <button type="button" class="btn btn-primary" data-ng-click="register()">Register</button>
        </div>
        <div class="col-3">
            <a href="#/login" class="btn btn-secondary">Back</a>
        </div>
    </div>
    </form>
</div>